#include "resource.h"
#include "windows.h"

#ifndef IDC_STATIC
#define IDC_STATIC (-1)
#endif

IDD_WEBDAV_CONFIG DIALOGEX 0, 0, 300, 250
STYLE DS_SETFONT | DS_MODALFRAME | DS_FIXEDSYS | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "WebDAV VFS"
FONT 9, "Microsoft YaHei UI"
BEGIN
    DEFPUSHBUTTON   "OK", IDOK, 138, 234, 50, 12
    PUSHBUTTON      "Cancel", IDCANCEL, 192, 234, 50, 12
    PUSHBUTTON      "Apply", IDC_WEBDAV_APPLY, 246, 234, 50, 12
    LISTBOX         IDC_WEBDAV_NAV_LIST, 4, 4, 36, 228, LBS_NOINTEGRALHEIGHT | LBS_OWNERDRAWFIXED | WS_VSCROLL | WS_TABSTOP
    LTEXT           "", IDC_WEBDAV_LBL_TIMEOUT, 48, 8, 80, 8
    EDITTEXT        IDC_WEBDAV_TIMEOUT, 48, 16, 60, 10, ES_AUTOHSCROLL | ES_NUMBER
    CONTROL         "", IDC_WEBDAV_CHK_SSL, "Button", BS_AUTOCHECKBOX | WS_TABSTOP, 48, 30, 180, 10
    CONTROL         "", IDC_WEBDAV_CHK_REDIRECT, "Button", BS_AUTOCHECKBOX | WS_TABSTOP, 48, 42, 180, 10
    LTEXT           "", IDC_WEBDAV_LBL_CHUNK, 48, 8, 80, 8
    EDITTEXT        IDC_WEBDAV_CHUNK_SIZE, 48, 16, 60, 10, ES_AUTOHSCROLL | ES_NUMBER
    CONTROL         "", IDC_WEBDAV_CHK_HIDDEN, "Button", BS_AUTOCHECKBOX | WS_TABSTOP, 48, 30, 180, 10
    CONTROL         "", IDC_WEBDAV_CHK_VERBOSE, "Button", BS_AUTOCHECKBOX | WS_TABSTOP, 48, 42, 180, 10
    PUSHBUTTON      "Reset", IDC_WEBDAV_RESET, 4, 234, 50, 12
END

IDD_WEBDAV_ABOUT DIALOGEX 0, 0, 300, 180
STYLE DS_SETFONT | DS_MODALFRAME | DS_FIXEDSYS | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "About WebDAV VFS"
FONT 9, "Microsoft YaHei UI"
BEGIN
    DEFPUSHBUTTON   "OK", IDOK, 125, 159, 50, 14
    LTEXT           "WebDAV VFS", IDC_STATIC, 60, 20, 200, 16
    LTEXT           "Version 1.0.0", IDC_STATIC, 60, 40, 200, 12
    LTEXT           "WebDAV Virtual File System", IDC_STATIC, 60, 55, 200, 12
    LTEXT           "For Directory Opus", IDC_STATIC, 60, 70, 200, 12
    GROUPBOX        "Features", IDC_STATIC, 7, 90, 286, 60
    LTEXT           "- Browse WebDAV servers", IDC_STATIC, 15, 105, 270, 12
    LTEXT           "- Upload/download/manage remote files", IDC_STATIC, 15, 120, 270, 12
    LTEXT           "- Support dav:// and davs://", IDC_STATIC, 15, 135, 270, 12
END