#include "resource.h"
#include "windows.h"
#include <commctrl.h>

#define IDC_STATIC -1

1 VERSIONINFO
FILEVERSION 1,0,0,0
PRODUCTVERSION 1,0,0,0
FILEFLAGSMASK 0x3fL
FILEFLAGS 0x0L
FILEOS 0x4L
FILETYPE 0x2L
FILESUBTYPE 0x0L
BEGIN
    BLOCK "StringFileInfo"
    BEGIN
        BLOCK "080404B0"
        BEGIN
            VALUE "CompanyName", "ServiceVFS"
            VALUE "FileDescription", "Windows \x670D\x52A1\x7BA1\x7406\x63D2\x4EF6"
            VALUE "FileVersion", "1.0.0.0"
            VALUE "InternalName", "ServiceVFS"
            VALUE "LegalCopyright", "(c) 2026"
            VALUE "OriginalFilename", "ServiceVFS.dll"
            VALUE "ProductName", "Service VFS Plugin"
            VALUE "ProductVersion", "1.0.0.0"
        END
    END
    BLOCK "VarFileInfo"
    BEGIN
        VALUE "Translation", 0x804, 1200
    END
END

IDD_SERVICE_CONFIG DIALOGEX 0, 0, 380, 280
STYLE DS_SETFONT | DS_MODALFRAME | DS_FIXEDSYS | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "Service VFS"
FONT 9, "Microsoft YaHei UI", 400, 0, 0x1
BEGIN
    DEFPUSHBUTTON   "OK", IDOK, 215, 259, 75, 14
    PUSHBUTTON      "Cancel", IDCANCEL, 298, 259, 75, 14

    LISTBOX         IDC_NAV_LIST, 7, 7, 48, 245, LBS_NOINTEGRALHEIGHT | LBS_OWNERDRAWFIXED | WS_VSCROLL | WS_TABSTOP

    CONTROL         "", IDC_AUTO_REFRESH, "Button", BS_AUTOCHECKBOX | WS_TABSTOP, 63, 9, 200, 8
    CONTROL         "", IDC_SHOW_SYSTEM_SERVICES, "Button", BS_AUTOCHECKBOX | WS_TABSTOP, 63, 21, 200, 8
    LTEXT           "", IDC_LBL_REFRESH_INTERVAL, 63, 33, 80, 8
    EDITTEXT        IDC_REFRESH_INTERVAL, 63, 43, 80, 10, ES_AUTOHSCROLL | ES_NUMBER
    LTEXT           "", IDC_LBL_CACHE_TIMEOUT, 63, 57, 80, 8
    EDITTEXT        IDC_CACHE_TIMEOUT, 63, 67, 80, 10, ES_AUTOHSCROLL | ES_NUMBER
    CONTROL         "", IDC_CHK_VERBOSE_LOG, "Button", BS_AUTOCHECKBOX | WS_TABSTOP, 63, 81, 200, 8

    LTEXT           "", IDC_LBL_COLUMNS, 63, 9, 80, 8
    CONTROL         "", IDC_COL_SVCNAME, "Button", BS_AUTOCHECKBOX | WS_TABSTOP, 63, 21, 120, 8
    CONTROL         "", IDC_COL_DISPLAYNAME, "Button", BS_AUTOCHECKBOX | WS_TABSTOP, 63, 33, 120, 8
    CONTROL         "", IDC_COL_STATUS, "Button", BS_AUTOCHECKBOX | WS_TABSTOP, 63, 45, 120, 8
    CONTROL         "", IDC_COL_STARTTYPE, "Button", BS_AUTOCHECKBOX | WS_TABSTOP, 63, 57, 120, 8
    CONTROL         "", IDC_COL_SVCTYPE, "Button", BS_AUTOCHECKBOX | WS_TABSTOP, 63, 69, 120, 8
    CONTROL         "", IDC_COL_DESCRIPTION, "Button", BS_AUTOCHECKBOX | WS_TABSTOP, 63, 81, 120, 8
    CONTROL         "", IDC_COL_PROCESSID, "Button", BS_AUTOCHECKBOX | WS_TABSTOP, 200, 21, 120, 8
    CONTROL         "", IDC_COL_EXITCODE, "Button", BS_AUTOCHECKBOX | WS_TABSTOP, 200, 33, 120, 8

    CONTROL         "", IDC_CHK_CONFIRM_STOP, "Button", BS_AUTOCHECKBOX | WS_TABSTOP, 63, 9, 200, 8
    CONTROL         "", IDC_CHK_CONFIRM_RESTART, "Button", BS_AUTOCHECKBOX | WS_TABSTOP, 63, 21, 200, 8
    CONTROL         "", IDC_CHK_CONFIRM_DELETE, "Button", BS_AUTOCHECKBOX | WS_TABSTOP, 63, 33, 200, 8
    CONTROL         "", IDC_CHK_WARN_CRITICAL, "Button", BS_AUTOCHECKBOX | WS_TABSTOP, 63, 45, 200, 8

    PUSHBUTTON      "SvcMgr", IDC_OPEN_SVCMGR, 7, 259, 50, 14
    PUSHBUTTON      "Reset", IDC_RESET_DEFAULTS, 62, 259, 50, 14
END

IDD_SERVICE_ABOUT DIALOGEX 0, 0, 300, 180
STYLE DS_SETFONT | DS_MODALFRAME | DS_FIXEDSYS | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "\x5173\x4E8E ServiceVFS"
FONT 9, "Microsoft YaHei UI", 400, 0, 0x1
BEGIN
    DEFPUSHBUTTON   "\x786E\x5B9A", IDOK, 125, 159, 50, 14
    
    ICON            IDI_APPLICATION, IDC_STATIC, 20, 20, 20, 20
    LTEXT           "ServiceVFS", IDC_STATIC, 60, 20, 200, 16, SS_NOPREFIX
    LTEXT           "\x7248\x672C 1.0.0", IDC_STATIC, 60, 40, 200, 12
    LTEXT           "Windows \x670D\x52A1\x7BA1\x7406\x63D2\x4EF6", IDC_STATIC, 60, 55, 200, 12
    LTEXT           "\x7528\x4E8E Directory Opus", IDC_STATIC, 60, 70, 200, 12
    
    GROUPBOX        "\x529F\x80FD", IDC_STATIC, 7, 90, 286, 60
    LTEXT           "\x2022 \x5217\x51FA\x6240\x6709 Windows \x670D\x52A1", IDC_STATIC, 15, 105, 270, 12
    LTEXT           "\x2022 \x7BA1\x7406\x670D\x52A1\xFF08\x542F\x52A8/\x505C\x6B62/\x6682\x505C/\x6062\x590D\xFF09", IDC_STATIC, 15, 120, 270, 12
    LTEXT           "\x2022 \x67E5\x770B\x670D\x52A1\x8BE6\x7EC6\x4FE1\x606F", IDC_STATIC, 15, 135, 270, 12
END
