#include "resource.h"
#include <windows.h>

1 VERSIONINFO
FILEVERSION 1,0,0,0
PRODUCTVERSION 1,0,0,0
FILEFLAGSMASK 0x3fL
FILEFLAGS 0x0L
FILEOS 0x4L
FILETYPE 0x2L
FILESUBTYPE 0x0L
BEGIN
    BLOCK "StringFileInfo"
    BEGIN
        BLOCK "080404B0"
        BEGIN
            VALUE "CompanyName", "GitHubVFS"
            VALUE "FileDescription", "GitHub VFS Plugin for Directory Opus"
            VALUE "FileVersion", "1.0.0.0"
            VALUE "InternalName", "GitHubVFS"
            VALUE "LegalCopyright", "(c) 2026"
            VALUE "OriginalFilename", "GitHubVFS.dll"
            VALUE "ProductName", "GitHub VFS Plugin"
            VALUE "ProductVersion", "1.0.0.0"
        END
    END
    BLOCK "VarFileInfo"
    BEGIN
        VALUE "Translation", 0x804, 1200
    END
END

IDD_GITHUB_CONFIG DIALOGEX 0, 0, 420, 360
STYLE DS_SETFONT | DS_MODALFRAME | DS_FIXEDSYS | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "GitHub VFS"
FONT 9, "Microsoft YaHei UI", 400, 0, 0x1
BEGIN
    DEFPUSHBUTTON      "OK", IDOK, 245, 339, 80, 14
    PUSHBUTTON         "Cancel", IDCANCEL, 333, 339, 80, 14

    LISTBOX            IDC_NAV_LIST, 7, 7, 56, 325, LBS_NOINTEGRALHEIGHT | LBS_OWNERDRAWFIXED | WS_VSCROLL | WS_TABSTOP

    GROUPBOX           "", IDC_GRP_AUTH, 68, 4, 345, 200
    LTEXT              "", IDC_LBL_AUTH_MODE, 76, 16, 80, 8
    COMBOBOX           IDC_COMBO_AUTH_MODE, 76, 26, 160, 100, CBS_DROPDOWNLIST | WS_VSCROLL | WS_TABSTOP
    LTEXT              "", IDC_LBL_TOKEN, 76, 46, 80, 8
    EDITTEXT           IDC_EDIT_TOKEN, 76, 56, 325, 12, ES_AUTOHSCROLL
    LTEXT              "", IDC_LBL_TOKEN_HINT, 76, 71, 325, 16
    LTEXT              "", IDC_LBL_USERNAME, 76, 46, 80, 8, NOT WS_VISIBLE
    EDITTEXT           IDC_EDIT_USERNAME, 76, 56, 160, 12, ES_AUTOHSCROLL | NOT WS_VISIBLE
    LTEXT              "", IDC_LBL_PASSWORD, 244, 46, 80, 8, NOT WS_VISIBLE
    EDITTEXT           IDC_EDIT_PASSWORD, 244, 56, 157, 12, ES_AUTOHSCROLL | ES_PASSWORD | NOT WS_VISIBLE
    LTEXT              "", IDC_LBL_BASIC_HINT, 76, 71, 325, 16, NOT WS_VISIBLE
    LTEXT              "", IDC_LBL_OAUTH_CODE, 76, 46, 80, 8, NOT WS_VISIBLE
    EDITTEXT           IDC_EDIT_OAUTH_CODE, 76, 56, 160, 12, ES_AUTOHSCROLL | NOT WS_VISIBLE
    PUSHBUTTON         "", IDC_BTN_START_OAUTH, 244, 55, 80, 14, NOT WS_VISIBLE
    LTEXT              "", IDC_LBL_OAUTH_STATUS, 76, 71, 325, 8, NOT WS_VISIBLE
    LTEXT              "", IDC_LBL_OAUTH_HINT, 76, 82, 325, 16, NOT WS_VISIBLE
    PUSHBUTTON         "", IDC_BTN_TEST, 76, 180, 80, 14
    LTEXT              "", IDC_LBL_STATUS, 164, 183, 240, 8

    GROUPBOX           "", IDC_GRP_CONNECTION, 68, 4, 345, 150, NOT WS_VISIBLE
    LTEXT              "", IDC_LBL_API_URL, 76, 16, 80, 8, NOT WS_VISIBLE
    EDITTEXT           IDC_EDIT_API_URL, 76, 26, 200, 12, ES_AUTOHSCROLL | NOT WS_VISIBLE
    LTEXT              "", IDC_LBL_TIMEOUT, 76, 46, 80, 8, NOT WS_VISIBLE
    EDITTEXT           IDC_EDIT_TIMEOUT, 76, 56, 80, 12, ES_AUTOHSCROLL | ES_NUMBER | NOT WS_VISIBLE
    LTEXT              "", IDC_LBL_CACHE, 170, 46, 80, 8, NOT WS_VISIBLE
    EDITTEXT           IDC_EDIT_CACHE, 170, 56, 80, 12, ES_AUTOHSCROLL | ES_NUMBER | NOT WS_VISIBLE
    LTEXT              "", IDC_LBL_PROXY_TYPE, 76, 76, 80, 8, NOT WS_VISIBLE
    COMBOBOX           IDC_COMBO_PROXY_TYPE, 76, 86, 120, 100, CBS_DROPDOWNLIST | WS_VSCROLL | WS_TABSTOP | NOT WS_VISIBLE
    LTEXT              "", IDC_LBL_PROXY_HOST, 76, 106, 80, 8, NOT WS_VISIBLE
    EDITTEXT           IDC_EDIT_PROXY_HOST, 76, 116, 200, 12, ES_AUTOHSCROLL | NOT WS_VISIBLE
    LTEXT              "", IDC_LBL_PROXY_PORT, 284, 106, 80, 8, NOT WS_VISIBLE
    EDITTEXT           IDC_EDIT_PROXY_PORT, 284, 116, 60, 12, ES_AUTOHSCROLL | ES_NUMBER | NOT WS_VISIBLE

    GROUPBOX           "", IDC_GRP_DISPLAY, 68, 4, 345, 160, NOT WS_VISIBLE
    AUTOCHECKBOX       "", IDC_CHK_SHOW_FORKS, 76, 16, 160, 10, NOT WS_VISIBLE
    AUTOCHECKBOX       "", IDC_CHK_SHOW_ARCHIVED, 76, 30, 160, 10, NOT WS_VISIBLE
    AUTOCHECKBOX       "", IDC_CHK_SHOW_PRIVATE, 76, 44, 160, 10, NOT WS_VISIBLE
    AUTOCHECKBOX       "", IDC_CHK_SHOW_DESC, 76, 58, 160, 10, NOT WS_VISIBLE
    LTEXT              "", IDC_LBL_REPO_SORT, 76, 76, 80, 8, NOT WS_VISIBLE
    COMBOBOX           IDC_COMBO_REPO_SORT, 76, 86, 160, 100, CBS_DROPDOWNLIST | WS_VSCROLL | WS_TABSTOP | NOT WS_VISIBLE
    LTEXT              "", IDC_LBL_ITEMS_PER_PAGE, 76, 106, 80, 8, NOT WS_VISIBLE
    EDITTEXT           IDC_EDIT_ITEMS_PER_PAGE, 76, 116, 80, 12, ES_AUTOHSCROLL | ES_NUMBER | NOT WS_VISIBLE
    LTEXT              "", IDC_LBL_DEFAULT_BRANCH, 170, 106, 80, 8, NOT WS_VISIBLE
    EDITTEXT           IDC_EDIT_DEFAULT_BRANCH, 170, 116, 160, 12, ES_AUTOHSCROLL | NOT WS_VISIBLE

    GROUPBOX           "", IDC_GRP_OPERATIONS, 68, 4, 345, 170, NOT WS_VISIBLE
    LTEXT              "", IDC_LBL_COMMIT_MSG, 76, 16, 160, 8, NOT WS_VISIBLE
    EDITTEXT           IDC_EDIT_COMMIT_MSG, 76, 26, 325, 12, ES_AUTOHSCROLL | NOT WS_VISIBLE
    AUTOCHECKBOX       "", IDC_CHK_AUTO_REFRESH, 76, 46, 160, 10, NOT WS_VISIBLE
    LTEXT              "", IDC_LBL_REFRESH_INTERVAL, 76, 62, 120, 8, NOT WS_VISIBLE
    EDITTEXT           IDC_EDIT_REFRESH_INTERVAL, 76, 72, 80, 12, ES_AUTOHSCROLL | ES_NUMBER | NOT WS_VISIBLE
    AUTOCHECKBOX       "", IDC_CHK_LARGE_FILE_WARN, 76, 92, 160, 10, NOT WS_VISIBLE
    LTEXT              "", IDC_LBL_LARGE_FILE_SIZE, 76, 108, 120, 8, NOT WS_VISIBLE
    EDITTEXT           IDC_EDIT_LARGE_FILE_SIZE, 76, 118, 80, 12, ES_AUTOHSCROLL | ES_NUMBER | NOT WS_VISIBLE
    AUTOCHECKBOX       "", IDC_CHK_CONFIRM_DELETE, 76, 138, 160, 10, NOT WS_VISIBLE

    GROUPBOX           "", IDC_GRP_ADVANCED, 68, 4, 345, 160, NOT WS_VISIBLE
    LTEXT              "", IDC_LBL_PATH_MODE, 76, 16, 80, 8, NOT WS_VISIBLE
    COMBOBOX           IDC_COMBO_PATH_MODE, 76, 26, 160, 100, CBS_DROPDOWNLIST | WS_VSCROLL | WS_TABSTOP | NOT WS_VISIBLE
    LTEXT              "", IDC_LBL_META_PREFIX, 76, 46, 80, 8, NOT WS_VISIBLE
    EDITTEXT           IDC_EDIT_META_PREFIX, 76, 56, 160, 12, ES_AUTOHSCROLL | NOT WS_VISIBLE
    LTEXT              "", IDC_LBL_REF_KEYWORD, 76, 76, 80, 8, NOT WS_VISIBLE
    EDITTEXT           IDC_EDIT_REF_KEYWORD, 76, 86, 160, 12, ES_AUTOHSCROLL | NOT WS_VISIBLE
    AUTOCHECKBOX       "", IDC_CHK_ENABLE_ALIASES, 76, 106, 160, 10, NOT WS_VISIBLE
    AUTOCHECKBOX       "", IDC_CHK_ENABLE_OLD_PATHS, 76, 120, 160, 10, NOT WS_VISIBLE

    PUSHBUTTON         "", IDC_BTN_APPLY, 68, 339, 80, 14
    PUSHBUTTON         "", IDC_BTN_RESET, 155, 339, 80, 14
END

402 DIALOGEX 0, 0, 240, 80
STYLE DS_MODALFRAME | DS_CENTER | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION ""
FONT 9, "Microsoft YaHei UI", 400, 0, 0x1
BEGIN
    LTEXT           "", 1001, 10, 10, 220, 14
    EDITTEXT        1002, 10, 30, 220, 14, ES_AUTOHSCROLL
    DEFPUSHBUTTON   "OK", IDOK, 70, 55, 50, 18
    PUSHBUTTON      "Cancel", IDCANCEL, 130, 55, 50, 18
END
