﻿﻿﻿﻿﻿﻿﻿﻿﻿﻿﻿﻿﻿#include "resource.h"
#include "windows.h"

IDI_RCLONE        ICON "rclone.ico"
IDI_RCLONE_SMALL  ICON "rclone.ico"

1 VERSIONINFO
FILEVERSION 2,0,0,0
PRODUCTVERSION 2,0,0,0
FILEFLAGSMASK 0x3fL
FILEFLAGS 0x0L
FILEOS 0x4L
FILETYPE 0x2L
FILESUBTYPE 0x0L
BEGIN
    BLOCK "StringFileInfo"
    BEGIN
        BLOCK "040904B0"
        BEGIN
            VALUE "CompanyName", "RcloneVFS"
            VALUE "FileDescription", "Rclone VFS Plugin for Directory Opus"
            VALUE "FileVersion", "2.0.0.0"
            VALUE "InternalName", "RcloneVFS"
            VALUE "LegalCopyright", "(c) 2026"
            VALUE "OriginalFilename", "RcloneVFS.dll"
            VALUE "ProductName", "Rclone VFS Plugin"
            VALUE "ProductVersion", "2.0.0.0"
        END
    END
    BLOCK "VarFileInfo"
    BEGIN
        VALUE "Translation", 0x409, 1200
    END
END

IDD_RCLONE_CONFIG DIALOGEX 0, 0, 380, 280
STYLE DS_SETFONT | DS_MODALFRAME | DS_FIXEDSYS | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "Rclone VFS"
FONT 9, "Microsoft YaHei UI", 400, 0, 0x1
BEGIN
    DEFPUSHBUTTON   "确定", IDOK, 215, 259, 75, 14
    PUSHBUTTON      "取消", IDCANCEL, 298, 259, 75, 14

    LISTBOX         IDC_NAV_LIST, 7, 7, 48, 245, LBS_NOINTEGRALHEIGHT | LBS_OWNERDRAWFIXED | WS_VSCROLL | WS_TABSTOP

    LTEXT           "", IDC_LBL_RCLONE_PATH, 63, 9, 100, 8
    EDITTEXT        IDC_RCLONE_PATH, 63, 19, 200, 10, ES_AUTOHSCROLL
    PUSHBUTTON      "...", IDC_BROWSE_RCLONE, 268, 19, 30, 10
    LTEXT           "", IDC_LBL_CONFIG_PATH, 63, 33, 100, 8
    EDITTEXT        IDC_CONFIG_PATH, 63, 43, 200, 10, ES_AUTOHSCROLL
    PUSHBUTTON      "...", IDC_BROWSE_CONFIG, 268, 43, 30, 10
    CONTROL         "", IDC_AUTO_START_DAEMON, "Button", BS_AUTOCHECKBOX | WS_TABSTOP, 63, 57, 150, 8

    LTEXT           "", IDC_LBL_RC_PORT, 63, 9, 80, 8
    EDITTEXT        IDC_RC_PORT, 63, 19, 80, 10, ES_AUTOHSCROLL | ES_NUMBER
    PUSHBUTTON      "测试", IDC_TEST_CONN, 268, 19, 30, 10
    LTEXT           "", IDC_LBL_CONN_TIMEOUT, 63, 33, 80, 8
    EDITTEXT        IDC_CONN_TIMEOUT, 63, 43, 80, 10, ES_AUTOHSCROLL | ES_NUMBER
    LTEXT           "", IDC_LBL_RC_USER, 63, 57, 80, 8
    EDITTEXT        IDC_RC_USER, 63, 67, 120, 10, ES_AUTOHSCROLL
    LTEXT           "", IDC_LBL_RC_PASS, 63, 81, 80, 8
    EDITTEXT        IDC_RC_PASS, 63, 91, 120, 10, ES_AUTOHSCROLL | ES_PASSWORD

    CONTROL         "", IDC_CACHE_ENABLED, "Button", BS_AUTOCHECKBOX | WS_TABSTOP, 63, 9, 150, 8
    LTEXT           "", IDC_LBL_VFS_CACHE_MODE, 63, 21, 80, 8
    COMBOBOX        IDC_VFS_CACHE_MODE, 63, 31, 100, 100, CBS_DROPDOWNLIST | WS_TABSTOP
    LTEXT           "", IDC_LBL_CACHE_SIZE, 63, 45, 80, 8
    EDITTEXT        IDC_CACHE_SIZE, 63, 55, 80, 10, ES_AUTOHSCROLL | ES_NUMBER
    LTEXT           "", IDC_LBL_CACHE_MAX_AGE, 63, 69, 80, 8
    EDITTEXT        IDC_CACHE_MAX_AGE, 63, 79, 80, 10, ES_AUTOHSCROLL | ES_NUMBER
    LTEXT           "", IDC_LBL_CACHE_TTL, 63, 93, 80, 8
    EDITTEXT        IDC_CACHE_TTL, 63, 103, 80, 10, ES_AUTOHSCROLL | ES_NUMBER
    LTEXT           "", IDC_LBL_DIR_CACHE_TIME, 63, 117, 80, 8
    EDITTEXT        IDC_DIR_CACHE_TIME, 63, 127, 80, 10, ES_AUTOHSCROLL | ES_NUMBER
    LTEXT           "", IDC_LBL_POLL_INTERVAL, 63, 141, 80, 8
    EDITTEXT        IDC_POLL_INTERVAL, 63, 151, 80, 10, ES_AUTOHSCROLL | ES_NUMBER
    LTEXT           "", IDC_LBL_CACHE_DIR, 63, 165, 80, 8
    EDITTEXT        IDC_CACHE_DIR, 63, 175, 200, 10, ES_AUTOHSCROLL
    PUSHBUTTON      "...", IDC_BROWSE_CACHE_DIR, 268, 175, 30, 10

    LTEXT           "", IDC_LBL_MAX_CONN, 63, 9, 80, 8
    EDITTEXT        IDC_MAX_CONNECTIONS, 63, 19, 80, 10, ES_AUTOHSCROLL | ES_NUMBER
    LTEXT           "", IDC_LBL_TRANSFERS, 63, 33, 80, 8
    EDITTEXT        IDC_TRANSFERS, 63, 43, 80, 10, ES_AUTOHSCROLL | ES_NUMBER
    LTEXT           "", IDC_LBL_CHECKERS, 63, 57, 80, 8
    EDITTEXT        IDC_CHECKERS, 63, 67, 80, 10, ES_AUTOHSCROLL | ES_NUMBER
    LTEXT           "", IDC_LBL_BANDWIDTH, 63, 81, 80, 8
    EDITTEXT        IDC_BANDWIDTH_LIMIT, 63, 91, 80, 10, ES_AUTOHSCROLL | ES_NUMBER
    LTEXT           "", IDC_LBL_BUFFER_SIZE, 63, 105, 80, 8
    EDITTEXT        IDC_BUFFER_SIZE, 63, 115, 80, 10, ES_AUTOHSCROLL | ES_NUMBER
    LTEXT           "", IDC_LBL_READ_CHUNK_SIZE, 63, 129, 80, 8
    EDITTEXT        IDC_READ_CHUNK_SIZE, 63, 139, 80, 10, ES_AUTOHSCROLL | ES_NUMBER
    LTEXT           "", IDC_LBL_READ_AHEAD, 63, 153, 80, 8
    EDITTEXT        IDC_READ_AHEAD, 63, 163, 80, 10, ES_AUTOHSCROLL | ES_NUMBER
    LTEXT           "", IDC_LBL_LOW_LEVEL_RETRIES, 63, 177, 80, 8
    EDITTEXT        IDC_LOW_LEVEL_RETRIES, 63, 187, 80, 10, ES_AUTOHSCROLL | ES_NUMBER

    CONTROL         "", IDC_AUTO_SYNC, "Button", BS_AUTOCHECKBOX | WS_TABSTOP, 63, 9, 150, 8
    LTEXT           "", IDC_LBL_SYNC_INTERVAL, 63, 21, 80, 8
    EDITTEXT        IDC_SYNC_INTERVAL, 63, 31, 80, 10, ES_AUTOHSCROLL | ES_NUMBER
    LTEXT           "", IDC_LBL_WRITE_BACK_DELAY, 63, 45, 80, 8
    EDITTEXT        IDC_WRITE_BACK_DELAY, 63, 55, 80, 10, ES_AUTOHSCROLL | ES_NUMBER
    LTEXT           "", IDC_LBL_MAX_IDLE, 63, 69, 80, 8
    EDITTEXT        IDC_MAX_IDLE, 63, 79, 80, 10, ES_AUTOHSCROLL | ES_NUMBER
    LTEXT           "", IDC_LBL_STATS_INTERVAL, 63, 93, 80, 8
    EDITTEXT        IDC_STATS_INTERVAL, 63, 103, 80, 10, ES_AUTOHSCROLL | ES_NUMBER
    CONTROL         "", IDC_CACHE_WRITE_BACK, "Button", BS_AUTOCHECKBOX | WS_TABSTOP, 63, 117, 150, 8

    CONTROL         "", IDC_LOG_ENABLED, "Button", BS_AUTOCHECKBOX | WS_TABSTOP, 63, 9, 150, 8
    LTEXT           "", IDC_LBL_LOG_PATH, 63, 21, 80, 8
    EDITTEXT        IDC_LOG_PATH, 63, 31, 200, 10, ES_AUTOHSCROLL
    PUSHBUTTON      "...", IDC_BROWSE_LOG, 268, 31, 30, 10
    LTEXT           "", IDC_LBL_LOG_LEVEL, 63, 45, 80, 8
    COMBOBOX        IDC_LOG_LEVEL, 63, 55, 100, 100, CBS_DROPDOWNLIST | WS_TABSTOP
    LTEXT           "", IDC_LBL_LOG_MAX_SIZE, 63, 69, 80, 8
    EDITTEXT        IDC_LOG_MAX_SIZE, 63, 79, 80, 10, ES_AUTOHSCROLL | ES_NUMBER
    LTEXT           "", IDC_LBL_LOG_MAX_FILES, 63, 93, 80, 8
    EDITTEXT        IDC_LOG_MAX_FILES, 63, 103, 80, 10, ES_AUTOHSCROLL | ES_NUMBER
    PUSHBUTTON      "打开", IDC_OPEN_LOG, 63, 117, 50, 10
    PUSHBUTTON      "清除", IDC_CLEAR_LOG, 118, 117, 50, 10

    CONTROL         "", IDC_VERBOSE_LOGGING, "Button", BS_AUTOCHECKBOX | WS_TABSTOP, 63, 9, 150, 8
    CONTROL         "", IDC_CONFIRM_DELETE, "Button", BS_AUTOCHECKBOX | WS_TABSTOP, 63, 21, 150, 8
    CONTROL         "", IDC_SHOW_HIDDEN, "Button", BS_AUTOCHECKBOX | WS_TABSTOP, 63, 33, 150, 8
    CONTROL         "", IDC_CASE_SENSITIVE, "Button", BS_AUTOCHECKBOX | WS_TABSTOP, 63, 45, 150, 8
    CONTROL         "", IDC_NO_MODTIME, "Button", BS_AUTOCHECKBOX | WS_TABSTOP, 63, 57, 150, 8
    CONTROL         "", IDC_NO_CHECKSUM, "Button", BS_AUTOCHECKBOX | WS_TABSTOP, 63, 69, 150, 8
    CONTROL         "", IDC_FAST_LIST, "Button", BS_AUTOCHECKBOX | WS_TABSTOP, 63, 81, 150, 8
    CONTROL         "", IDC_USE_MMAP, "Button", BS_AUTOCHECKBOX | WS_TABSTOP, 63, 93, 150, 8
    CONTROL         "", IDC_USE_RCLONE_COPY, "Button", BS_AUTOCHECKBOX | WS_TABSTOP, 63, 105, 150, 8

    PUSHBUTTON      "配置", IDC_OPEN_CONFIG, 7, 259, 50, 14
    PUSHBUTTON      "重置", IDC_RESET_DEFAULTS, 62, 259, 50, 14
END

IDD_JOB_PROGRESS DIALOGEX 0, 0, 260, 80
STYLE DS_SETFONT | DS_MODALFRAME | DS_FIXEDSYS | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "Rclone VFS"
FONT 9, "Microsoft YaHei UI", 400, 0, 0x1
BEGIN
    CONTROL         "", IDC_PROGRESS_BAR, "msctls_progress32", WS_BORDER | PBS_SMOOTH, 7, 10, 246, 18
    LTEXT           "0%", IDC_PROGRESS_PERCENT, 7, 34, 50, 10
    LTEXT           "", IDC_PROGRESS_TEXT, 60, 34, 193, 10
    DEFPUSHBUTTON   "确定", IDOK, 120, 58, 60, 14
    PUSHBUTTON      "取消", IDCANCEL, 190, 58, 60, 14
END

IDD_FILE_PROPERTIES DIALOGEX 0, 0, 300, 250
STYLE DS_SETFONT | DS_MODALFRAME | DS_FIXEDSYS | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "Rclone VFS"
FONT 9, "Microsoft YaHei UI", 400, 0, 0x1
BEGIN
    LTEXT           "名称:", -1, 7, 7, 60, 10
    LTEXT           "", IDC_PROP_NAME, 70, 7, 223, 10
    LTEXT           "类型:", -1, 7, 19, 60, 10
    LTEXT           "", IDC_PROP_TYPE, 70, 19, 223, 10
    LTEXT           "大小:", -1, 7, 31, 60, 10
    LTEXT           "", IDC_PROP_SIZE, 70, 31, 223, 10
    LTEXT           "修改时间:", -1, 7, 43, 60, 10
    LTEXT           "", IDC_PROP_MTIME, 70, 43, 223, 10

    LTEXT           "MIME类型:", -1, 7, 59, 60, 10
    LTEXT           "", IDC_PROP_MIME, 70, 59, 223, 10
    LTEXT           "文件 ID:", -1, 7, 71, 60, 10
    LTEXT           "", IDC_PROP_FID, 70, 71, 223, 10
    LTEXT           "远程路径:", -1, 7, 83, 60, 10
    LTEXT           "", IDC_PROP_RPATH, 70, 83, 223, 10
    LTEXT           "哈希:", -1, 7, 95, 60, 10
    LTEXT           "", IDC_PROP_HASH, 70, 95, 180, 10
    LTEXT           "", IDC_PROP_HASHTYPE, 253, 95, 40, 10

    LTEXT           "存储配额:", -1, 7, 115, 60, 10
    LTEXT           "总配额:", -1, 7, 127, 60, 10
    LTEXT           "", IDC_PROP_QUOTA_TOTAL, 70, 127, 223, 10
    LTEXT           "已用:", -1, 7, 139, 60, 10
    LTEXT           "", IDC_PROP_QUOTA_USED, 70, 139, 223, 10
    LTEXT           "可用:", -1, 7, 151, 60, 10
    LTEXT           "", IDC_PROP_QUOTA_FREE, 70, 151, 223, 10

    DEFPUSHBUTTON   "确定", IDOK, 170, 229, 60, 14
    PUSHBUTTON      "复制信息", IDC_PROP_COPY, 80, 229, 80, 14
END

IDD_SHARE_DIALOG DIALOGEX 0, 0, 400, 180
STYLE DS_SETFONT | DS_MODALFRAME | DS_FIXEDSYS | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "分享链接"
FONT 9, "Microsoft YaHei UI", 400, 0, 0x1
BEGIN
    LTEXT           "链接:", -1, 7, 10, 60, 10
    EDITTEXT        IDC_SHARE_URL, 7, 22, 340, 12, ES_AUTOHSCROLL | ES_READONLY
    PUSHBUTTON      "复制", IDC_SHARE_COPY_LINK, 290, 40, 57, 14
    PUSHBUTTON      "打开", IDC_SHARE_OPEN_BROWSER, 355, 40, 38, 14

    LTEXT           "过期时间(天,空选无限期):", -1, 7, 65, 200, 10
    EDITTEXT        IDC_SHARE_EXPIRE, 7, 77, 60, 12, ES_AUTOHSCROLL | ES_NUMBER

    CONTROL         "", IDC_SHARE_PROGRESS, "msctls_progress32", WS_BORDER, 7, 100, 386, 14
    LTEXT           "", IDC_SHARE_STATUS, 7, 120, 386, 20

    DEFPUSHBUTTON   "关闭", IDOK, 290, 150, 50, 14
    PUSHBUTTON      "取消", IDCANCEL, 345, 150, 48, 14
END

IDD_VERSIONS_DIALOG DIALOGEX 0, 0, 500, 300
STYLE DS_SETFONT | DS_MODALFRAME | DS_FIXEDSYS | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "版本历史"
FONT 9, "Microsoft YaHei UI", 400, 0, 0x1
BEGIN
    CONTROL         "", IDC_VERSION_LIST, "SysListView32", LVS_REPORT | LVS_SINGLESEL | WS_BORDER | WS_VSCROLL | WS_TABSTOP, 7, 7, 486, 220
    PUSHBUTTON      "预览", IDC_VERSION_PREVIEW, 7, 233, 50, 14
    PUSHBUTTON      "恢复", IDC_VERSION_RESTORE, 65, 233, 50, 14
    PUSHBUTTON      "删除", IDC_VERSION_DELETE, 123, 233, 50, 14
    LTEXT           "", IDC_VERSION_STATUS, 180, 237, 260, 10

    DEFPUSHBUTTON   "关闭", IDOK, 390, 273, 50, 14
    PUSHBUTTON      "取消", IDCANCEL, 445, 273, 48, 14
END

IDD_TRASH_DIALOG DIALOGEX 0, 0, 500, 300
STYLE DS_SETFONT | DS_MODALFRAME | DS_FIXEDSYS | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "回收站"
FONT 9, "Microsoft YaHei UI", 400, 0, 0x1
BEGIN
    CONTROL         "", IDC_TRASH_LIST, "SysListView32", LVS_REPORT | LVS_SINGLESEL | WS_BORDER | WS_VSCROLL | WS_TABSTOP, 7, 7, 486, 220
    PUSHBUTTON      "恢复", IDC_TRASH_RESTORE, 7, 233, 50, 14
    PUSHBUTTON      "彻底删除", IDC_TRASH_DELETE, 65, 233, 60, 14
    PUSHBUTTON      "清空回收站", IDC_TRASH_EMPTY, 135, 233, 70, 14
    LTEXT           "", IDC_TRASH_STATUS, 215, 237, 278, 10
    DEFPUSHBUTTON   "关闭", IDOK, 390, 273, 50, 14
    PUSHBUTTON      "取消", IDCANCEL, 445, 273, 48, 14
END

IDD_SYNC_DIALOG DIALOGEX 0, 0, 450, 200
STYLE DS_SETFONT | DS_MODALFRAME | DS_FIXEDSYS | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "同步操作"
FONT 9, "Microsoft YaHei UI", 400, 0, 0x1
BEGIN
    LTEXT           "源路径:", -1, 7, 10, 60, 10
    EDITTEXT        IDC_SYNC_SRC_PATH, 7, 22, 380, 12, ES_AUTOHSCROLL | ES_READONLY

    LTEXT           "目标路径:", -1, 7, 42, 70, 10
    EDITTEXT        IDC_SYNC_DST_PATH, 7, 54, 380, 12, ES_AUTOHSCROLL

    LTEXT           "同步模式:", -1, 7, 74, 70, 10
    COMBOBOX        IDC_SYNC_MODE, 80, 72, 120, 60, CBS_DROPDOWNLIST | WS_TABSTOP

    CONTROL         "", IDC_SYNC_PROGRESS, "msctls_progress32", WS_BORDER, 7, 95, 436, 14
    LTEXT           "", IDC_SYNC_STATUS, 7, 115, 436, 20

    DEFPUSHBUTTON   "开始", IDC_SYNC_START, 290, 150, 60, 14
    PUSHBUTTON      "取消", IDCANCEL, 380, 150, 50, 14
END

IDD_CHECK_DIALOG DIALOGEX 0, 0, 500, 250
STYLE DS_SETFONT | DS_MODALFRAME | DS_FIXEDSYS | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "校验操作"
FONT 9, "Microsoft YaHei UI", 400, 0, 0x1
BEGIN
    LTEXT           "源路径:", -1, 7, 10, 60, 10
    EDITTEXT        IDC_CHECK_SRC_PATH, 7, 22, 380, 12, ES_AUTOHSCROLL | ES_READONLY

    LTEXT           "目标路径:", -1, 7, 42, 70, 10
    EDITTEXT        IDC_CHECK_DST_PATH, 7, 54, 380, 12, ES_AUTOHSCROLL | ES_READONLY

    CONTROL         "单向校验", IDC_CHECK_ONEWAY, "Button", BS_AUTOCHECKBOX | WS_TABSTOP, 7, 74, 100, 10

    CONTROL         "", IDC_CHECK_PROGRESS, "msctls_progress32", WS_BORDER, 7, 95, 486, 14
    LTEXT           "", IDC_CHECK_STATUS, 7, 115, 486, 20

    EDITTEXT        IDC_CHECK_REPORT, 7, 140, 486, 60, ES_MULTILINE | ES_AUTOVSCROLL | ES_READONLY | WS_VSCROLL

    DEFPUSHBUTTON   "开始", IDC_CHECK_START, 320, 210, 60, 14
    PUSHBUTTON      "取消", IDCANCEL, 385, 210, 50, 14
END

IDD_JOB_DIALOG DIALOGEX 0, 0, 500, 300
STYLE DS_SETFONT | DS_MODALFRAME | DS_FIXEDSYS | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "任务管理"
FONT 9, "Microsoft YaHei UI", 400, 0, 0x1
BEGIN
    CONTROL         "", IDC_JOB_LIST, "SysListView32", LVS_REPORT | LVS_SINGLESEL | WS_BORDER | WS_VSCROLL | WS_TABSTOP, 7, 7, 486, 230
    PUSHBUTTON      "刷新", IDC_JOB_REFRESH, 7, 245, 60, 14
    PUSHBUTTON      "停止", IDC_JOB_STOP, 75, 245, 60, 14
    PUSHBUTTON      "全部停止", IDC_JOB_STOP_ALL, 143, 245, 70, 14
    LTEXT           "", IDC_JOB_STATUS, 225, 249, 268, 10
    DEFPUSHBUTTON   "关闭", IDOK, 390, 273, 50, 14
    PUSHBUTTON      "取消", IDCANCEL, 445, 273, 48, 14
END
