#include "resource.h"
#include "windows.h"

#ifndef IDC_STATIC
#define IDC_STATIC (-1)
#endif

IDD_WEBDAV_CONFIG DIALOGEX 0, 0, 300, 250
STYLE DS_SETFONT | DS_MODALFRAME | DS_FIXEDSYS | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "WebDAV VFS"
FONT 9, "Microsoft YaHei UI"
BEGIN
    DEFPUSHBUTTON   "确定", IDOK, 138, 234, 50, 12
    PUSHBUTTON      "取消", IDCANCEL, 192, 234, 50, 12
    PUSHBUTTON      "应用", IDC_WEBDAV_APPLY, 246, 234, 50, 12
    LISTBOX         IDC_WEBDAV_NAV_LIST, 4, 4, 36, 228, LBS_NOINTEGRALHEIGHT | LBS_OWNERDRAWFIXED | WS_VSCROLL | WS_TABSTOP
    // Page 0: Connection
    LTEXT           "", IDC_WEBDAV_LBL_TIMEOUT, 48, 8, 80, 8
    EDITTEXT        IDC_WEBDAV_TIMEOUT, 48, 16, 60, 10, ES_AUTOHSCROLL | ES_NUMBER
    CONTROL         "", IDC_WEBDAV_CHK_SSL, "Button", BS_AUTOCHECKBOX | WS_TABSTOP, 48, 30, 180, 10
    CONTROL         "", IDC_WEBDAV_CHK_REDIRECT, "Button", BS_AUTOCHECKBOX | WS_TABSTOP, 48, 42, 180, 10
    // Page 1: Advanced
    LTEXT           "", IDC_WEBDAV_LBL_CHUNK, 48, 8, 80, 8
    EDITTEXT        IDC_WEBDAV_CHUNK_SIZE, 48, 16, 60, 10, ES_AUTOHSCROLL | ES_NUMBER
    CONTROL         "", IDC_WEBDAV_CHK_HIDDEN, "Button", BS_AUTOCHECKBOX | WS_TABSTOP, 48, 30, 180, 10
    CONTROL         "", IDC_WEBDAV_CHK_VERBOSE, "Button", BS_AUTOCHECKBOX | WS_TABSTOP, 48, 42, 180, 10
    PUSHBUTTON      "Reset", IDC_WEBDAV_RESET, 4, 234, 50, 12
END

IDD_WEBDAV_ABOUT DIALOGEX 0, 0, 300, 180
STYLE DS_SETFONT | DS_MODALFRAME | DS_FIXEDSYS | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "关于 WebDAV VFS"
FONT 9, "Microsoft YaHei UI"
BEGIN
    DEFPUSHBUTTON   "确定", IDOK, 125, 159, 50, 14
    LTEXT           "WebDAV VFS", IDC_STATIC, 60, 20, 200, 16
    LTEXT           "版本 1.0.0", IDC_STATIC, 60, 40, 200, 12
    LTEXT           "WebDAV 虚拟文件系统", IDC_STATIC, 60, 55, 200, 12
    LTEXT           "用于 Directory Opus", IDC_STATIC, 60, 70, 200, 12
    GROUPBOX        "功能", IDC_STATIC, 7, 90, 286, 60
    LTEXT           "• 浏览 WebDAV 服务器", IDC_STATIC, 15, 105, 270, 12
    LTEXT           "• 上传/下载/管理远程文件", IDC_STATIC, 15, 120, 270, 12
    LTEXT           "• 支持 dav:// 和 davs://", IDC_STATIC, 15, 135, 270, 12
END
