#include "resource.h"
#include "windows.h"

1 VERSIONINFO
FILEVERSION 1,0,0,0
PRODUCTVERSION 1,0,0,0
FILEFLAGSMASK 0x3fL
FILEFLAGS 0x0L
FILEOS 0x4L
FILETYPE 0x2L
FILESUBTYPE 0x0L
BEGIN
    BLOCK "StringFileInfo"
    BEGIN
        BLOCK "080404B0"
        BEGIN
            VALUE "CompanyName", "TaskSchedulerVFS"
            VALUE "FileDescription", "Windows \u4efb\u52a1\u8ba1\u5212 VFS \u63d2\u4ef6"
            VALUE "FileVersion", "1.0.0.0"
            VALUE "InternalName", "TaskSchedulerVFS"
            VALUE "LegalCopyright", "(c) 2026"
            VALUE "OriginalFilename", "TaskSchedulerVFS.dll"
            VALUE "ProductName", "\u4efb\u52a1\u8ba1\u5212 VFS \u63d2\u4ef6"
            VALUE "ProductVersion", "1.0.0.0"
        END
    END
    BLOCK "VarFileInfo"
    BEGIN
        VALUE "Translation", 0x804, 1200
    END
END

IDD_TASKSCHD_CONFIG DIALOGEX 0, 0, 300, 250
STYLE DS_SETFONT | DS_MODALFRAME | DS_FIXEDSYS | WS_POPUP | WS_CAPTION | WS_SYSMENU | WS_MINIMIZEBOX
CAPTION "TaskScheduler VFS"
FONT 9, "Microsoft YaHei UI", 400, 0, 0x1
BEGIN
    DEFPUSHBUTTON   "OK", IDOK, 138, 234, 50, 12
    PUSHBUTTON      "Cancel", IDCANCEL, 192, 234, 50, 12
    PUSHBUTTON      "Apply", IDC_APPLY, 246, 234, 50, 12

    LISTBOX         IDC_NAV_LIST, 4, 4, 36, 228, LBS_NOINTEGRALHEIGHT | LBS_OWNERDRAWFIXED | WS_VSCROLL | WS_TABSTOP

    CONTROL         "", IDC_AUTO_REFRESH, "Button", BS_AUTOCHECKBOX | WS_TABSTOP, 44, 4, 200, 10
    LTEXT           "", IDC_LBL_REFRESH_INTERVAL, 44, 18, 80, 8
    EDITTEXT        IDC_REFRESH_INTERVAL, 44, 26, 80, 10, ES_AUTOHSCROLL | ES_NUMBER
    LTEXT           "", IDC_LBL_DEFAULT_ACTION, 44, 40, 80, 8
    COMBOBOX        IDC_DEF_ACTION, 44, 48, 82, 10, CBS_DROPDOWNLIST | WS_TABSTOP
    CONTROL         "", IDC_CHK_CONFIRM_DELETE, "Button", BS_AUTOCHECKBOX | WS_TABSTOP, 44, 62, 200, 10
    CONTROL         "", IDC_SHOW_SYSTEM_TASKS, "Button", BS_AUTOCHECKBOX | WS_TABSTOP, 44, 76, 200, 10

    LTEXT           "", IDC_LBL_COLUMNS, 44, 4, 80, 8
    CONTROL         "", IDC_COL_STATE, "Button", BS_AUTOCHECKBOX | WS_TABSTOP, 44, 16, 120, 10
    CONTROL         "", IDC_COL_TRIGGERS, "Button", BS_AUTOCHECKBOX | WS_TABSTOP, 44, 28, 120, 10
    CONTROL         "", IDC_COL_LASTRUN, "Button", BS_AUTOCHECKBOX | WS_TABSTOP, 44, 40, 120, 10
    CONTROL         "", IDC_COL_NEXTRUN, "Button", BS_AUTOCHECKBOX | WS_TABSTOP, 44, 52, 120, 10
    CONTROL         "", IDC_COL_AUTHOR, "Button", BS_AUTOCHECKBOX | WS_TABSTOP, 44, 64, 120, 10
    CONTROL         "", IDC_COL_EXECUTABLE, "Button", BS_AUTOCHECKBOX | WS_TABSTOP, 44, 76, 120, 10
    CONTROL         "", IDC_COL_USERID, "Button", BS_AUTOCHECKBOX | WS_TABSTOP, 172, 16, 120, 10
    CONTROL         "", IDC_COL_RESULT, "Button", BS_AUTOCHECKBOX | WS_TABSTOP, 172, 28, 120, 10
    CONTROL         "", IDC_COL_DESCRIPTION, "Button", BS_AUTOCHECKBOX | WS_TABSTOP, 172, 40, 120, 10

    LTEXT           "", IDC_LBL_KILL_METHOD, 44, 4, 80, 8
    COMBOBOX        IDC_KILL_METHOD, 44, 12, 82, 10, CBS_DROPDOWNLIST | WS_TABSTOP
    CONTROL         "", IDC_CHK_CONFIRM_RUN, "Button", BS_AUTOCHECKBOX | WS_TABSTOP, 44, 26, 200, 10
    CONTROL         "", IDC_CHK_WARN_SYSTEM, "Button", BS_AUTOCHECKBOX | WS_TABSTOP, 44, 38, 200, 10
    CONTROL         "", IDC_CHK_AUTO_REFRESH_ACTION, "Button", BS_AUTOCHECKBOX | WS_TABSTOP, 44, 50, 200, 10
    CONTROL         "", IDC_CHK_CONFIRM_ENABLE, "Button", BS_AUTOCHECKBOX | WS_TABSTOP, 44, 62, 200, 10

    LTEXT           "", IDC_LBL_CACHE_TIMEOUT, 44, 4, 80, 8
    EDITTEXT        IDC_CACHE_TIMEOUT, 44, 12, 80, 10, ES_AUTOHSCROLL | ES_NUMBER
    CONTROL         "", IDC_CHK_VERBOSE_LOG, "Button", BS_AUTOCHECKBOX | WS_TABSTOP, 44, 26, 200, 10
    LTEXT           "", IDC_LBL_CONFIG_PATH, 44, 40, 80, 8
    EDITTEXT        IDC_CONFIG_PATH, 44, 60, 210, 10, ES_AUTOHSCROLL
    PUSHBUTTON      "...", IDC_BROWSE_CONFIG, 262, 60, 26, 10
    LTEXT           "", IDC_LBL_LOG_PATH, 44, 76, 80, 8
    EDITTEXT        IDC_LOG_PATH, 44, 84, 210, 10, ES_AUTOHSCROLL
    PUSHBUTTON      "...", IDC_BROWSE_LOG, 262, 84, 26, 10
    PUSHBUTTON      "", IDC_OPEN_DATA_DIR, 44, 100, 120, 12

    PUSHBUTTON      "TaskSchd", IDC_OPEN_TASKSCHD, 4, 234, 54, 12
    PUSHBUTTON      "Reset", IDC_RESET_DEFAULTS, 62, 234, 50, 12
END
