#include <windows.h>
#include "resource.h"

LANGUAGE LANG_CHINESE, SUBLANG_CHINESE_SIMPLIFIED

IDD_STOCK_CONFIG DIALOGEX 0, 0, 340, 260
STYLE DS_SETFONT | DS_MODALFRAME | DS_FIXEDSYS | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "Stock VFS"
FONT 9, "Microsoft YaHei UI"
BEGIN
    DEFPUSHBUTTON   "OK", IDOK, 228, 244, 50, 12
    PUSHBUTTON      "Cancel", IDCANCEL, 282, 244, 50, 12
    PUSHBUTTON      "Apply", IDC_STOCK_APPLY, 172, 244, 50, 12
    PUSHBUTTON      "Reset", IDC_STOCK_RESET, 116, 244, 50, 12
    LISTBOX         IDC_STOCK_NAV_LIST, 4, 4, 40, 236, LBS_NOINTEGRALHEIGHT | LBS_OWNERDRAWFIXED | WS_VSCROLL | WS_TABSTOP

    // Page 0 controls (initially visible)
    COMBOBOX        IDC_STOCK_DATASOURCE, 48, 8, 100, 40, CBS_DROPDOWNLIST | WS_TABSTOP
    LTEXT           "", IDC_STOCK_LBL_SOURCE, 48, 28, 80, 8
    LTEXT           "", IDC_STOCK_LBL_CACHE, 48, 40, 80, 8
    EDITTEXT        IDC_STOCK_CACHE_TIMEOUT, 48, 48, 60, 10, ES_AUTOHSCROLL | ES_NUMBER
    LTEXT           "", IDC_STOCK_LBL_REFRESH, 48, 62, 80, 8
    EDITTEXT        IDC_STOCK_REFRESH, 48, 70, 60, 10, ES_AUTOHSCROLL | ES_NUMBER
    CONTROL         "", IDC_STOCK_CHK_COLOR, "Button", BS_AUTOCHECKBOX | WS_TABSTOP, 48, 84, 120, 10
    CONTROL         "", IDC_STOCK_CHK_VOLUME, "Button", BS_AUTOCHECKBOX | WS_TABSTOP, 48, 96, 120, 10
    LTEXT           "", IDC_STOCK_LBL_PERPAGE, 48, 110, 80, 8
    EDITTEXT        IDC_STOCK_ITEMS_PER_PAGE, 48, 118, 60, 10, ES_AUTOHSCROLL | ES_NUMBER
    LTEXT           "", IDC_STOCK_LBL_METAPFX, 48, 132, 80, 8
    EDITTEXT        IDC_STOCK_METAPREFIX, 48, 140, 80, 10, ES_AUTOHSCROLL

    // Page 1 controls (hidden initially)
    LTEXT           "", IDC_STOCK_LBL_TUSHARE, 48, 8, 80, 8
    EDITTEXT        IDC_STOCK_TUSHARE_TOKEN, 48, 16, 180, 10, ES_AUTOHSCROLL
    LTEXT           "", IDC_STOCK_LBL_ALPHA, 48, 32, 80, 8
    EDITTEXT        IDC_STOCK_ALPHA_KEY, 48, 40, 180, 10, ES_AUTOHSCROLL

    // Page 2 controls (hidden initially)
    COMBOBOX        IDC_STOCK_PROXY_TYPE, 48, 8, 80, 40, CBS_DROPDOWNLIST | WS_TABSTOP
    LTEXT           "", IDC_STOCK_LBL_HOST, 48, 28, 80, 8
    EDITTEXT        IDC_STOCK_PROXY_HOST, 48, 36, 120, 10, ES_AUTOHSCROLL
    LTEXT           "", IDC_STOCK_LBL_PORT, 48, 50, 80, 8
    EDITTEXT        IDC_STOCK_PROXY_PORT, 48, 58, 60, 10, ES_AUTOHSCROLL | ES_NUMBER
END

1 VERSIONINFO
FILEVERSION 1,0,0,0
PRODUCTVERSION 1,0,0,0
FILEFLAGSMASK VS_FFI_FILEFLAGSMASK
FILEFLAGS 0
FILEOS VOS_NT_WINDOWS32
FILETYPE VFT_DLL
FILESUBTYPE VFT2_UNKNOWN
BEGIN
    BLOCK "StringFileInfo"
    BEGIN
        BLOCK "080404B0"
        BEGIN
            VALUE "CompanyName", ""
            VALUE "FileDescription", "Stock VFS Plugin"
            VALUE "FileVersion", "1.0.0.0"
            VALUE "InternalName", "StockVFS"
            VALUE "LegalCopyright", "(c) 2026"
            VALUE "OriginalFilename", "StockVFS.dll"
            VALUE "ProductName", "Stock VFS"
            VALUE "ProductVersion", "1.0.0.0"
        END
    END
    BLOCK "VarFileInfo"
    BEGIN
        VALUE "Translation", 0x0804, 1200
    END
END
